:root{
    background-color: aliceblue;
}
div {
    width: 200px;
    height: 200px;
    background-color: black;
    border-style: solid;
    border-bottom: black;
}
#header {
    border: 10px black solid;
    padding: 20px;
    background-color: blue;
}
#body{
    margin-left: 260px;
    border: 20px black solid;
    background-color: yellow;
}
#footer{
    border: 10px black solid;
    background-color: red;
    margin-left: 500px;
}